@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');


body {
    background-color: #EFFCFD;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: #FFFCFB;
    height: 160px;
    border-bottom: 1px solid #707070;
    padding-bottom: 15px;
}

header h1 {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    text-align: left;
    margin-right: 20px;
}

header img {
    width: 120px;
    max-width: 150px; 
    margin: 40px 10px 10px 20px;
}

#admin-form {
    padding: 35px 35px 45px 35px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px !important;
    align-items: center;
}

.entry-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 175px;
    min-width: 175px;
    margin-bottom: 10px;
}

label {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 5px;
}

select {
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #707070;
}

option {
    font-weight: 700;
}

select option:hover {
    background-color: #FFFFFF !important;
}


#customer {
    
    /* background-color: #7ACED9; */
}

#period {
    background-color: #022628;
    color: white;
}

.input-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#submit-btn {
    margin-left: 35px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.input-container .entry-box:nth-of-type(1) {
    margin-right: 40px;
}

#submit-btn img {
    width: 60px;
    cursor: pointer;
}

.display-box {
    margin: 0px 0px 35px 0px;
    border: 1px solid #707070;
    /* background-color: #7ACED9; */
    background-color: white;
    padding: 40px 30px;
}

.counter-box {
    border: 1px solid #707070;
    background-color: white;
    padding: 30px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.counter-box h2 {
    font-size: 100px;
    color: #022628;
    font-family: 'League Spartan', sans-serif;
}

h2 span {
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    font-size: 34px;
    top: 1px;
    position: absolute;
    margin-left: 12px;
}

.display-title-box {
    margin-bottom: 35px;
    /* color: white; */
}

.display-title-box h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0px;
}

select option:hover {
    background-color: red !important;
    color: red !important;
}

.display-title-box .customer-name {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
}

.display-title-box .balance {
    margin-top: 20px;
    font-size: 28px;
    position: relative;
}

.app-content {
    display: flex;
    height: calc(100vh - 200px);
}

main {
    width: 100%;
}

#customer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-msg {
    font-size: 16px;
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
    margin-top: -35px;
}

.error-msg p {
    text-align: left;
    color: rgb(204, 0, 0);
    padding: 5px 10px;
    line-height: 24px;
    font-weight: 600;
    background-color: rgba(251, 54, 54, 0.137);
    border: 2px solid rgb(204, 0, 0);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .error-msg p img {
    width: 20px;
    margin-right: 2px;
} */

#sidebar {
    display: none;
    height: 100%;
    background-color: #022628;
}

#sidebar img {
    max-width: 160px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-img {
    width: 135px;
    margin: 15px;
}

@media screen and (min-width: 440px) {
    header h1 {
        font-size: 7vw;
    }
}

@media screen and (min-width: 667px) {

    .chart-display {
        width: 50%;
        /* padding-left: 50px; */
    }

    .display-box {
        display: flex;
        justify-content: space-evenly;
    }
    
    header {
        justify-content: left;
        padding-bottom: 25px;
    }
    header img {
        display: none;
    }
    header h1 {
        /* font-size: 4.9vw; */
        margin-left: 40px;
        margin-top: 50px;
    }
    #sidebar {
        display: flex;
        justify-content: center;
        padding: 35px;
        width: 35%;
    }
    #sidebar img {
        max-width: 100%;
    }
    #admin-form {
        max-width: 75%;
        float: right;
    }

}