@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    background-color: #EFFCFD;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    height: 100%;
    width: 100vw;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: #FFFCFB;
    height: 160px;
    border-bottom: 1px solid #70707080;
    padding-bottom: 15px;
}

header h1 {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 9vw;
    line-height: 40px;
    font-weight: 800;
    text-align: left;
    margin-right: 20px;
    margin-left: 15px;
}

header img {
    width: 120px;
    max-width: 150px; 
    margin: 40px 10px 10px 20px;
}

#admin-form {
    padding: 35px 25px 45px 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px !important;
    align-items: center;
}

.entry-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 175px;
    min-width: 175px;
    margin-bottom: 10px;
}

label {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 5px;
}

select {
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #707070;
}

option {
    font-weight: 700;
}

select option:hover {
    background-color: #FFFFFF !important;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

#points-display {
    width: 100%;
    min-height: 500px;
}

.time-period {
    padding-top: 20px;
    padding-bottom: 20px;
}

#period {
    background-color: #022628;
    color: white;
}

.input-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#submit-btn {
    margin-left: 35px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.input-container .entry-box:nth-of-type(1) {
    margin-right: 40px;
}

#submit-btn img {
    width: 60px;
    cursor: pointer;
}

#submit-btn img:hover {
    box-shadow: 1px 1px 5px #707070, -1px 1px 5px #707070, 1px -1px 5px #707070, -1px -1px 5px #707070;
}

#submit-btn img:active {
    box-shadow: inset 1px 1px 5px black, inset -1px 1px 5px black, inset 1px -1px 5px black, inset -1px -1px 5px black;
}

.piggy {
    flex-direction: column;
    justify-content: center;
}

.display-box {
    border: 1px solid #707070;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 30px;
}

.display-box p {
    line-height: 20px;
    margin: 15px;
    font-size: 16px;
    text-align: center;
}

.counter-box {
    border: 1px solid #707070;
    background-color: white;
    padding: 30px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.counter-box h2 {
    font-size: 100px;
    color: #022628;
    font-family: 'League Spartan', sans-serif;
}

h2 span {
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    font-size: 34px;
    top: 1px;
    position: absolute;
    margin-left: 6px;
}

.display-title-box h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0px;
}

select option:hover {
    background-color: red !important;
    color: red !important;
}

.display-title-box .customer-name {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
}

.display-title-box .customer-name-small {
    font-size: 22px !important;
    font-weight: 600;
}

.display-title-box .customer-small-div h2 {
    font-size: 20px;
}

.display-title-box .balance {
    margin-top: 10px;
    font-size: 28px;
    position: relative;
}

.display-box .single-cust {
    margin: 0 !important;
    height: 70%;
}

.display-title-box {
    justify-content: space-evenly;
    margin: 25px 0px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.customer-small-div {
    text-align: center;
    border-top: 1px solid #707070;
    padding: 5px;
    width: 100%;
    max-width: 250px;
}

.customer-small-div:nth-of-type(1) {
    border-top: none;
}

.customer-small-div:nth-of-type(2) {
    border-top: none;
}

.customer-small-div .balance span {
    margin-top: 20px;
    font-size: 22px;
    position: relative;
}

canvas {
    background-color: #022628;
}

.app-content {
    display: flex;
    height: calc(100% - 160px);
}

main {
    width: 100%;
    margin: 0px;
}

#customer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.error-msg {
    font-size: 16px;
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
    margin-top: -35px;
}

.error-msg p {
    text-align: left;
    color: rgb(204, 0, 0);
    padding: 5px 10px;
    line-height: 24px;
    font-weight: 600;
    background-color: rgba(251, 54, 54, 0.137);
    border: 2px solid rgb(204, 0, 0);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-cust .balance {
    margin-bottom: 30px;
}

#sidebar {
    display: none;
    height: 100%;
    background-color: #022628;
}

#sidebar img {
    max-width: 240px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-img {
    width: 135px;
    margin: 15px;
}

.chart-display {
    width:100%;
}

.single-cust {
    min-width: 200px;
}


@media screen and (max-width: 501px) {
    .customer-small-div:nth-of-type(2) {
        border-top: 1px solid #707070;
    }
    .no-large {
        display: none;
    }
}

@media screen and (min-width: 550px) {
    .chart-display {
        max-width: 300px;
        margin-left: 20px;
    }
    header h1 {
        font-size: 8vw;
    }
    .customer-small-div {
        width: 50%;
    }
    .display-box {
        border: 1px solid #707070;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 30px;
    }
    .piggy {
        flex-direction: column;
    }
}

@media screen and (min-width: 664px) {
    .customer-small-div:nth-of-type(2) {
        border-top: 1px solid #707070;
    }
    .display-title-box {
        margin: 35px 0px 35px 35px;
    }
    #points-display {
        padding-top: 40px;
        border-top: 1px solid #707070;
    }
    main {
        margin: 0px 8%;
    }
    .chart-display {
        width: 50%;
        height: 70%;
        max-width: 400px;
    }
    .chart-display div {
        height: 100%;
        width: 90%;
        margin-left: 5%;
        display: flex;
        align-items: center;
    }
    .wrapper {
        width: 35%;
    } 
    .customer-small-div {
        width: 100%;
    }
    .display-box {
        height: 100%;
    }
    header {
        justify-content: left;
        padding-bottom: 25px;
    }
    #admin-form {
        max-width: 75%;
        float: right;
    }
}

@media screen and (min-width: 810px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #admin-form {
        padding: 35px 0px 45px 0px;
        display: flex;
        justify-content: left;
        width: 100%;
    }
    #sidebar {
        display: flex;
        justify-content: center;
        padding: 45px;
        width: 30%;
    }
    #sidebar img {
        width: 100%;
    }
    header img {
        display: none;
    }
    header h1 {
        margin-left: 40px;
        margin-top: 50px;
        font-size: 60px;
    }
    #customer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .input-container {
        width: auto;
    }
}
